version: '3'
services:
  redismod:
    build: ./Redis_Airsim/redismod
    secrets:
      - azure_blob_secret
    ports:
      - 6379:6379

  droneapp:
    build: ./Redis_Airsim/app
    depends_on:
      - redismod

  influxdb_v2:
    image: influxdb:latest
    ports:
      - "8086:8086"
    environment:
      - INFLUXD_HTTP_BIND_ADDRESS=:8086
      - DOCKER_INFLUXDB_INIT_MODE=setup
      - DOCKER_INFLUXDB_INIT_USERNAME=my-user
      - DOCKER_INFLUXDB_INIT_PASSWORD=my-password
      - DOCKER_INFLUXDB_INIT_ORG=my-org
      - DOCKER_INFLUXDB_INIT_BUCKET=iot_center
      - DOCKER_INFLUXDB_INIT_RETENTION=30d
      - DOCKER_INFLUXDB_INIT_ADMIN_TOKEN=my-token
    command: influxd --reporting-disabled

  mosquitto:
    image: eclipse-mosquitto:2.0.10
    ports:
      - "1883:1883"
    volumes:
      - ./app/server/mqtt/docker-mosquitto/mosquitto/:/mosquitto/

  telegraf:
    image: telegraf:latest
    volumes:
      - ./app/server/mqtt/telegraf.docker.conf:/etc/telegraf/telegraf.conf

  iot_center:
    build: ./app
    ports:
      - "5000:5000"
    environment:
      - INFLUX_URL=http://influxdb_v2:8086/
      - INFLUX_TOKEN=my-token
      - INFLUX_ORG=my-org
      - INFLUX_BUCKET=iot_center
      - MQTT_TOPIC=iot_center
      - MQTT_URL=mqtt://mosquitto:1883
    depends_on:
      - mosquitto
      - influxdb_v2
      - telegraf
      - redismod

secrets:
  azure_blob_secret:
    file: ./Redis_Airsim/redismod/secrets/azureblobsecret.txt