airsim
azure-storage-blob
git+https://github.com/RedisGears/redisgears-py.git
imageio
influxdb_client
msgpack-rpc-python
numpy
opencv-python
paho_mqtt
pandas
pillow
pprintpp
psutil
pylgbst
pyserial
redis
