airsim
azure-storage-blob
azure.storage.blob
git+https://github.com/RedisGears/redisgears-py.git
imageio
influxdb_client
msgpack-rpc-python
numpy
numpy==1.16.3
opencv-python
opencv-python==4.0.1.23
paho_mqtt
pandas
Pillow
Pillow==8.2.0
pprintpp
pylgbst
pyserial
redis
redis==3.2.1